<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>week1</title>
</head>
<body>
	<h1>week1</h1>
	<hr>
	<h2>現在時刻:{{now}}</h2>
	<hr>
	{% for post in posts %}
		<p style = 'font-family:微軟正黑體; font-size:16pt; font-weight:bold;'>
			{{post.title}}
		</p>
		<p style = 'font-family:微軟正黑體; font-size:10pt; letter-spacing:1pt'>
			{{post.body}}
		</p>
		{% if forloop.last %}
			<hr style="border:1px solid #000" />
			{% endif %}
		<hr style= "border:1px dashed #000" />
	{% endfor %}
	
</body>
</html>


