{% load humanize %}
<!DOCTYPE html>
<html>
<head>
	<title>二手車</title>
</head>
<body>
	<h2>歡迎</h2>
	<table>
		<tr>
			{% for m in car_maker %}
				<td bgcolor="#ccffcc">
					<a href="{% url 'carlist-url' forloop.counter0 %}">{{m}}</a>
				</td>
			{% endfor %}
		</tr>
	</table>
	{% if cars %}
		<table>
			<tr><td>車廠</td><td>車款</td><td>價格</td></tr>
			{% for c in cars %}
				<tr bgcolor="{% cycle '#eeeeee' '#cccccc' '999999' %}"><td>{{maker_name}}</td><td>{{c.model}}</td><td>{{c.price | floatformat:2 | intcomma }}</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<h3>車廠<em>{{maker_name}}</em>沒存貨</h3>
	{% endif %}

</body>
</html>