{%extends 'board/base.html'%} {%block title%}留言板{%endblock%} {%block content%}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-heading" align="center"><h3>留言板</h3></div>
		</div>
	</div>
	<div class="row">
		{%for post in posts%}
		<div class="col-sm-12 col-md-6">
			<div class="panel {%cycle 'panel-primary' 'panel-info' 'panel-warning' 'panel-success'%}">
				<div class="panel-heading">{{post.nickname}}覺得{{post.mood}}</div>
				<div class="panel-body">{{post.message|linebreaks}}</div>
				<div class="panel-footer" align="right">
					<i><small>出生年：{{post.byear}} 發布時間：{{post.pub_time}}</small></i>
					<span class="glyphicon glyphicon-trash" onclick="go_delete('{{post.id}}')" , style="cursor: pointer"></span>
				</div>
			</div>
		</div>
		{%endfor%}
	</div>
</div>

{%endblock%}
